site:
  title: {{ vcs_namespace }}-{{ vcs_repo }} documentation
  robots: allow
  start_page: {{ vcs_repo }}::index.adoc
content:
  edit_url: '{web_url}/tree/{refname}/{path}'
  sources:
    - url: '.'
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
