site:
  title: {{ vcs_namespace }}-{{ vcs_repo }} documentation
  robots: allow
  start_page: {{ vcs_repo }}::index.adoc
  url: /{{ vcs_namespace }}/{{ vcs_repo }}
content:
  edit_url: '{web_url}/tree/{refname}/{path}'
  sources:
    - url: '.'
      start_path: 'doc'
      branches: HEAD
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
