# `.{{ vcs_provider }}/actions`

## Files in this directory

- Are used to define CI/CD actions
- In case you want to add some linters, you should take a look at [super-linter](https://github.com/super-linter/super-linter) to get inspired
