name: Dependencies -  Bump versions

on:
  schedule:
    # Each day at 3:00 AM
    - cron: 0 3 * * *
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  deps-bump:
    name: Dependencies bump
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/renovatebot/renovate:latest
      credentials:
        username: {% raw %}${{ github.actor }}{% endraw %}
        password: {% raw %}${{ secrets.github_token }}{% endraw %}
    steps:
      - name: Dependencies bump
        id: deps-bump
        env:
          RENOVATE_TOKEN: {% raw %}${{ secrets.github_token }}{% endraw %}
          RENOVATE_ENDPOINT: {{ vcs_url_scheme }}{{ "api." + vcs_server_host if vcs_provider == "github" else vcs_server_host + "/api/v1" }}
          RENOVATE_PLATFORM: {{ vcs_provider }}
          RENOVATE_REPOSITORIES: "['{{ vcs_namespace }}/{{ vcs_repo }}']"
          RENOVATE_CONFIG_FILE: config/renovate/renovate.yaml
          RENOVATE_PR_HOURLY_LIMIT: 10
        run: /usr/local/sbin/renovate-entrypoint.sh
