name: {{ vcs_namespace }}-{{ vcs_repo }}

networks:
  app:
    driver: bridge

secrets:
  netrc:
    name: netrc
    # TIP You can use `export COMPOSE_NETRC="$(echo -e "machine $(git remote get-url origin | grep -oP '.+://\K[^/]+(?=/)')\nlogin git\npassword $(gh auth token)\n")"`
    environment: COMPOSE_NETRC

services:
  app-template:
    profiles:
      - never
    build:
      context: ../../
      dockerfile: build/Dockerfile
      target: dev
      secrets:
        - netrc
    networks:
      - app
    secrets:
      - netrc
    environment:
      # Not all projects under kemadev are private, but convenient not to set all exceptions
      GOPRIVATE: "github.com/kemadev/*"
      RUNTIME_ENV: dev
      APP_NAME: {{ vcs_repo }}
      APP_VERSION: dev
      APP_NAMESPACE: whatever
      OTEL_ENDPOINT_URL: http://{{ vcs_namespace }}-{{ vcs_repo }}-jaeger-1:4317
      OTEL_EXPORTER_COMPRESSION: gzip
      HTTP_SERVE_PORT: 8080
      HTTP_READ_TIMEOUT: 5
      HTTP_WRITE_TIMEOUT: 10
      METRICS_EXPORT_INTERVAL: -1
      TRACES_SAMPLE_RATIO: 1
    ports:
      - 8080:8080
    restart: always
    develop:
      watch:
        - action: rebuild
          path: ../../
          target: /src
    # Close immediately and let compose restart the container without waiting for graceful shutdown
    stop_grace_period: 0s

  app:
    extends:
      service: app-template
    profiles:
      - dev

  app-debug:
    extends:
      service: app-template
    profiles:
      - debug
    entrypoint:
      - dlv
      - dap
      - --listen
      - :50000
    ports:
      - 50000:50000
    security_opt:
      - apparmor=unconfined
    cap_add:
      - SYS_PTRACE

---
services:
  jaeger:
    image: jaegertracing/jaeger:latest
    profiles:
      - dev
    ports:
      - 16686:16686
      - 4317:4317
      - 4318:4318
    networks:
      - app
    restart: always

---
volumes:
  postgresql:
    driver: local
services:
  postgresql:
    image: postgres:alpine
    profiles:
      - never
    environment:
      POSTGRES_DB: dev
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
    volumes:
      - postgresql:/var/lib/postgresql
    ports:
      - 5432:5432
    networks:
      - app
    restart: always


---
volumes:
  valkey:
    driver: local

services:
  valkey:
    image: valkey/valkey:alpine
    profiles:
      - never
    environment:
      VALKEY_EXTRA_FLAGS: --protected-mode yes --requirepass dev
    volumes:
      - valkey:/data
    ports:
      - 6379:6379
    networks:
      - app
    restart: always

---
networks:
  opensearch:
    driver: bridge

volumes:
  opensearch:
    driver: local

services:
  opensearch:
    profiles:
      - never
    image: opensearchproject/opensearch:latest
    environment:
      cluster.name: dev
      node.name: {{ vcs_namespace }}-{{ vcs_repo }}-opensearch-1
      discovery.seed_hosts: {{ vcs_namespace }}-{{ vcs_repo }}-opensearch-1
      cluster.initial_cluster_manager_nodes: {{ vcs_namespace }}-{{ vcs_repo }}-opensearch-1
      bootstrap.memory_lock: true
      OPENSEARCH_JAVA_OPTS: -Xms512m -Xmx512m
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: OpenSearchDev_1
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch:/usr/share/opensearch/data
    ports:
      - 9200:9200
      - 9600:9600
    networks:
      - opensearch
      - app
  opensearch-dashboards:
    profiles:
      - never
    image: opensearchproject/opensearch-dashboards:latest
    ports:
      - 5601:5601
    environment:
      OPENSEARCH_HOSTS: '["https://{{ vcs_namespace }}-{{ vcs_repo }}-opensearch-1:9200"]'
    networks:
      - opensearch
